body > * {
  background-size: cover;
}

.skill1{
  color:  yellow;
}

.skill2{
  color: green;
}

.skill3{
  color: cyan;
}

.skill4{
  color: blue;
}

.skill5{
  color: purple
}

.img-fluid d-block m-1 {
  padding: 1;
}

.card {
  padding: 10px;
}