/* Font family definition: you can add custom fonts here */


/* Animation definitions */
.status_delete{
    opacity: 0;
    transition: opacity .35s ease
}

.container_status:hover .status_delete {
    opacity: 1;
}

.button_success button[type="submit"]{
     background-color:rgba(255,204,0,0.8);
}
/* CSS definition for regular screen size */
/* Main body */

/* Navbar */

/* Content */
textarea{
    width: 80%;
    z-index: 10;
    max-width: 800px;
}
.status_delete{
    align-content: center;
}
.container_status {
    text-align: left;
    -moz-box-align: center;
    max-width: 800px;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    color:black !important;
}

.container_status input{
    color:black !important;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container_status::after {
    content: "";
    clear: both;
    display: table;
}

.container_status img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container_status img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}
.time-right {
    float: right;
    color: #aaa;
}
.name-left{
    float: left;
    color: #aaa;
}
.time-left {
    float: left;
    color: #999;
}

.button_success button[type="submit"]{
    position: relative;
    right: 3px;
    font-size:100%;
    padding:10px;
    background-color:rgb(103, 177, 60);
    border:0.5px solid #ffcc00;
    border-radius:1px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor:pointer;
    width:80%;
    max-width: 800px;
    transition: background-color 0.1s ease-in;
}

/* Special rules for certain screen sizes, size-min: ..., size-max: ... */
/* Main body */

/* Navbar */

/* Content */


/* And so on........ */