{% load staticfiles %}
<nav class="navbar navbar-default navbar-expand-lg fixed-top navbar-dark" id="navbar">
	<div class="container">
		<a class="navbar-brand" href="/"><b>Project-Kirito</b></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				{% if login %}
				<li class="nav-item">
					<a class="nav-link" href="/mahasiswa/profile/edit/" data-toggle="tooltip" title="Edit your profile">Edit Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/mahasiswa/" data-toggle="tooltip" title="See the dashboard">
						<img class="profile profile-s" src="{{mahasiswa.picture_url}}" style="margin-right:10px"/>{{mahasiswa.name}}
					</a>
				</li>
				<li class="nav-item" style="background:#f00">
					<a class="nav-link" href="/mahasiswa/auth_logout" data-toggle="tooltip" title="Sign out from this site.">Logout</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="/mahasiswa/" data-toggle="tooltip" title="See the dashboard">Anonymous</a>
				</li>
				<li class="nav-item" style="background:#0f0">
						<a class="nav-link" href="/mahasiswa/login" data-toggle="tooltip" title="Sign out from this site.">Login</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>