{% extends "base.html" %}

{% load staticfiles %}

{% block meta %}
<meta name="description" content="Project-Kirito: Cari Mahasiswa">
<meta name="author" content="Kelompok 9 PPW Kelas E">
{% endblock %}

{% block title %}Project-Kirito: Cari Mahasiswa{% endblock %}

{% block stylescript_app %}<link rel=stylesheet href="{% static 'css/friends.css' %}">{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div style="margin: -40px 20px 20px 20px">
    <form action="{% url 'mahasiswa:search_user' %}" method="GET">
        <label for="query"> SEARCH </label>
        <input type="text" id="query" name="query" required>
        <select name="attribute">
            <option value="npm">NPM</option>
            <option value="nama">Nama</option>
            <option value="angkatan">Angkatan</option>
            <option value="keahlian">Keahlian</option>
            <option value="level">Level</option>
        </select>
        <input type="submit" class="btn btn-default">
    </form>
</div>

<!-- testing purposes. please delete later. -->
<div class="container">
    <div class="row">
        <div class="p-3 align-self-center col-md-4">
            {% for user in user_list %}
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-fluid d-block" src="{{ user.picture_url }}"> </div>
                    </div>
                    <div class="card-block p-2">
                        <h3>{{ user.name }}</h3>
                        <hr>
                        <p>{%if user.description%} {{ user.description }} {%else%} No description {% endif %}
                            <br> </p>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>NPM</td>
                                    <td>{{ user.npm }}</td>
                                </tr>
                                <tr>
                                    <td>Keahlian
                                        <br> </td>
                                        <td>{%if user.skills.all%} {%for skill in user.skills.all%} <p class="skill{{ skill.expertness }}"> {{ skill.skill_name }} {%endfor%}</p> {%else%} <p>No experties</p> {%endif%}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endblock %}

{% block footer %}
<script src="{% static 'js/friends.js' %}"/>
{% endblock %}