{% extends "base.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="Project-Kirito: Login Mahasiswa">
    <meta name="author" content="Kelompok 9 PPW Kelas E">
{% endblock %}
{% block title %}Project-Kirito: Login using CSUI Account{% endblock %}
{% block stylescript_app %}<link rel=stylesheet href="{% static 'css/login.css' %}">{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="rata-tengah">
            <div class="judul">
                <h1> Halaman Login </h1>
                <p class="text-info"> Gunakan <b> akun SSO </b> untuk login </p>
            </div>
            <form action="{% url 'mahasiswa:auth_login' %}" method="POST">
                {% csrf_token %}
                {% for message in messages %}{% if message.level_tag == "warning" %}
                    <div class="alert alert-warning alert-dismissable text-center">{{message}}</div>
                {% endif %}{% endfor %}
                <p>
                    <label for="username"> Your username </label>
                    <input type="text" id="username" name="username" required>
                </p>
                <p>
                    <label for="password"> Your password </label>
                    <input type="password" id="password" name="password" required>
                </p>
                <input type="submit" id="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% if user_login %}<p class="copyright">Currently logged in: {{user_login}}</p>
    {% else %}{% include "partials/footer.html" %}{% endif %}
{% endblock %}