{% extends "base.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="Project-Kirito: Dashboard Mahasiswa">
    <meta name="author" content="Kelompok 9 PPW Kelas E">
{% endblock %}
{% block title %}Project-Kirito: Dashboard of {{user_login}}{% endblock %}
{% block stylescript_app %}{% endblock %}
{% block header %}{% include "partials/header.html" %}{% endblock %}
{% block content %}
<div class="pojok-kanan"></div>
<div class="container">
    <div class="card" id="profile-panel">
        <div class="card-header" id="main-panel-heading">
            {% if login %}
            <h4>Welcome, <b>{{mahasiswa.name}}!</b></h4>
            {% else %}
            <h4>Welcome!</h4>
            {% endif %}
        </div>
        <div class="card-block">
            {% if login %}
                <img class="profile profile-l float-left" style="margin:10px 20px" src="{{mahasiswa.picture_url}}">
            {% else %}
            <img class="profile profile-l float-left" style="margin:10px 20px" src="{% static 'img/Unknown.jpg' %}">
            {% endif %}
            <div class="card-text" style="margin:20px">
                {% if mahasiswa.description %}"{{mahasiswa.description}}"{% else %}<i>I have no description.</i>{% endif %}
            </div>
        </div>
        <div class="card-footer">
            {% if login %}
            <a href="{% url 'mahasiswa:auth_logout' %}" class="btn btn-sm btn-danger float-right" onclick="return confirm('Exit?')">Logout</a>
            {% else %}
            <a href="{% url 'mahasiswa:login' %}" class="btn btn-sm btn-success float-right" >Login</a>
            {% endif %}
        </div>
    </div>

    <!-- Error messages -->
    {% for message in messages %}{% if message.level_tag == "danger" %}
        <div class="alert alert-{{message.level_tag}} alert-dismissable text-center">{{message}}</div>
    {% endif %}{% endfor %}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        {% if login %}
        <li role="presentation" aria-controls="home" class="nav-item">
            <a class="nav-link{% if login %} active{% endif %}" href="#profile" role="tab" data-toggle="tab">Profile</a>
        </li>
        <li role="presentation" aria-controls="home" class="nav-item">
            <a class="nav-link" href="#riwayat" role="tab" data-toggle="tab">Academic</a>
        </li>
        {% endif %}
        <li role="presentation" aria-controls="home" class="nav-item">
            <a class="nav-link{% if not login %} active{% endif %}" href="#status" role="tab" data-toggle="tab">Status</a>
        </li>
        {% if login %}
        <li role="presentation" aria-controls="home" class="nav-item">
            <a class="nav-link" href="#friends" role="tab" data-toggle="tab">Friends</a>
        </li>
        {% endif %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        {% if login %}
        <iframe role="tabpanel" class="tab-pane fade in out active show" id="profile" src='{% url "mahasiswa:profile" %}'></iframe>
        <iframe role="tabpanel" class="tab-pane fade in out" id="riwayat" src='{% url "mahasiswa:riwayat" %}'></iframe>
        {% endif %}
        <iframe role="tabpanel" class="tab-pane fade in out" id="status" src='{% url "mahasiswa:status" %}'></iframe>
        {% if login %}
        <iframe role="tabpanel" class="tab-pane fade in out" id="friends" src='{% url "mahasiswa:friends" %}'></iframe>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block footer %}{% include "partials/footer.html" %}{% endblock %}