{% extends "base.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="Project-Kirito: Dashboard Mahasiswa">
    <meta name="author" content="Kelompok 9 PPW Kelas E">
{% endblock %}
{% block title %}Project-Kirito: Dashboard of {{user_login}}{% endblock %}
{% block stylescript_app %}{% endblock %}
{% block stylescript_page %}
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key:   81cwnsubg1szbc
        onLoad:    onLinkedInLoad
        authorize: true
        lang:      en_US
    </script>
{% endblock %}
{% block header %}{% include "partials/header.html" %}{% endblock %}
{% block content %}
<div class="container">
    <section name="header">
        <div class="card" id="profile-panel">
            <div class="card-header" id="main-panel-heading">
                <h4>Edit Profile of <b>{{mahasiswa.name}}</b></h4>
            </div>
            <div class="card-block">
                <img style="margin:10px 20px" id="profile-picture" class="profile profile-xl float-left" style="margin:10px 20px" src="{{mahasiswa.picture_url}}">
                <div id="user-description" class="card-text" style="margin:20px">
                    {% if mahasiswa.description %}"{{mahasiswa.description}}"{% else %}<i>I have no description.</i>{% endif %}
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'mahasiswa:auth_logout' %}" class="btn btn-sm btn-danger float-right" style="margin-left: 5px" onclick="return confirm('Exit?')">Logout</a>
                <a href="{% url 'mahasiswa:index' %}" class="btn btn-sm btn-warning float-right" onclick="return confirm('Are you sure?')">Discard</a>
                <a class="btn btn-sm btn-success float-right" style="margin-right:5px" onclick="saveProfile()">Save</a>
            </div>
        </div>

        <!-- Error messages -->
        {% for message in messages %}{% if message.level_tag == "danger" %}
            <div class="alert alert-{{message.level_tag}} alert-dismissable text-center">{{message}}</div>
        {% endif %}{% endfor %}
    </section>

    <section name="details">
        <h5><b>LinkedIn</b></h5>
        <div id="show-score" class="float-right">
            Show scores? <select id="show-score-input" value={% if mahasiswa.show_score %}1{% else %}0{% endif %}>
                <option value=0 {% if not mahasiswa.show_score %}selected="selected"{% endif %}>No</option>
                <option value=1 {% if mahasiswa.show_score %}selected="selected"{% endif %}>Yes</option>
            </select>
        </div>
        <div id="linkedin-data">
            <script type="in/Login"></script>
            {% if mahasiswa.linkedin_url %}
                <br>
                Name: {{mahasiswa.name}}<br>
                Email: {{mahasiswa.email}}<br>
                Location: {{mahasiswa.location}}<br>
                LinkedIn: <a href='{{mahasiswa.linkedin_url}}'>{{mahasiswa.linkedin_url}}</a><br>
            {% endif %}
        </div>
    </section>
    <hr>
    <h5><b>Skills</b></h5>
    <ol id="skills-list">
        {% if mahasiswa_skills %}
            {% for skill in mahasiswa_skills %}
                <li class="old-skill" id="li-old-{{skill.id}}">
                    <input class="skill-input" name="skill" id="skill-{{skill.id}}" value="{{skill.skill_name}}">
                    Level:
                    <select class="level-input" name="level" id="level-{{skill.id}}" value={{skill.expertness}}>
                        <option value=1 {% if skill.expertness == 1 %}selected="selected"{% endif %}>Beginner</option>
                        <option value=2 {% if skill.expertness == 2 %}selected="selected"{% endif %}>Intermediate</option>
                        <option value=3 {% if skill.expertness == 3 %}selected="selected"{% endif %}>Advanced</option>
                        <option value=4 {% if skill.expertness == 4 %}selected="selected"{% endif %}>Expert</option>
                        <option value=5 {% if skill.expertness == 5 %}selected="selected"{% endif %}>Legend</option>
                    </select>
                    <input class="skill-id" type="hidden" name="id" id="old-{{skill.id}}" value="{{skill.id}}">
                    <button class="skill-del" id="del-{{skill.id}}" onclick="removeSkillField('{{skill.id}}')">x</button>
                </li>
            {% endfor %}
        {% else %}
            <li class="new-skill" id="li-new-0">
                <input class="skill-input" name="skill" id="skill-new-0">
                Level:
                <select class="level-input" name="level" id="level-new-0">
                    <option value=1>Beginner</option>
                    <option value=2>Intermediate</option>
                    <option value=3>Advanced</option>
                    <option value=4>Expert</option>
                    <option value=5>Legend</option>
                </select>
                <input class="skill-id" type="hidden" name="id" id="new-0" value="new">
            </li>
        {% endif %}
    </ol>
    <button class="btn btn-default" id="add-skill" onclick="addSkillField()">Tambah Keahlian</button>
</div>
{% endblock %}
{% block footer %}{% include "partials/footer.html" %}{% endblock %}
{% block scripts_page %}
<script type="text/javascript">
    var dict = {};
    var removeSkills = {};
    var changeSkills = {};
    var addSkills = {};
    var newSkillIndex = 1;

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
   });

    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
        html = "Name: " + data.formattedName + "<br>" +
                "Email: " + data.emailAddress + "<br>" +
                "Location: " + data.location.name + "<br>" +
                "LinkedIn: <a href='" + data.publicProfileUrl + "'>" + data.publicProfileUrl + "</a><br>"+
                '<a class="btn btn-sm btn-danger float-right" style="margin-left: 5px" onclick="return confirm(\'Logout LinkedIn?\')">Logout LinkedIn</a><br>';
        $("#linkedin-data").html(html)
        $("#user-description").html('"' + data.summary + '"')
        $("#profile-picture").attr("src", data.pictureUrl)
        dict = data;
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to request the member's basic profile data
    function getProfileData() {
        IN.API.Raw("/people/~:(id,formatted-name,location,summary,picture-url,public-profile-url,email-address)").result(onSuccess).error(onError);
    }

    // Add new skill field
    function addSkillField() {
        $("#skills-list").append('<li class="new-skill" id="li-new-'+newSkillIndex+'">' +
                                '<input class="skill-input" name="skill" id="skill-new-'+newSkillIndex+'">' +
                                ' Level: ' +
                                '<select class="level-input" name="level" id="level-new-'+newSkillIndex+'">' +
                                    '<option value=1>Beginner</option>' +
                                    '<option value=2>Intermediate</option>' +
                                    '<option value=3>Advanced</option>' +
                                    '<option value=4>Expert</option>' +
                                    '<option value=5>Legend</option>' +
                                '</select>' +
                                '<input class="skill-id" type="hidden" name="id" id="new-'+newSkillIndex+'" value="new">' +
                                ' <button class="skill-del" id="del-new-'+newSkillIndex+'" onclick="removeSkillField(\'new-'+newSkillIndex+'\')">x</button>' +
                            '</li>');
        newSkillIndex++;
    }

    // Remove a skill field
    function removeSkillField(id) {
        if (!id.includes("new")) {
            intId = parseInt(id);
            removeSkills[intId] = {"name":$("#li-old-"+id).children(".skill-input").val(),
                                "level":$("#li-old-"+id).children(".level-input").val()};
            $("#li-old-"+id).remove();
        }
        else $("#li-"+id).remove();
    }

    // Save the profile
    var saveProfile = function() {
        $("#skills-list").children('li').each(function() {
            if ($(this).attr('class') === "old-skill") {
                changeSkills[$(this).children(".skill-id").val()] = {"name":$(this).children(".skill-input").val(),
                                                                    "level":$(this).children(".level-input").val()};
            } else if ($(this).attr('class') === "new-skill") {
                addSkills[$(this).children(".skill-input").val()] = $(this).children(".level-input").val();
            }
        });

        addSkillsJson = JSON.stringify(addSkills);
        removeSkillsJson = JSON.stringify(removeSkills);
        changeSkillsJson = JSON.stringify(changeSkills);
        showScores = $("#show-score-input").val();

        $.ajax({
            method: 'POST',
            url: '{% url "mahasiswa:save-profile" %}',
            data: {formattedName:dict.formattedName, location:JSON.stringify(dict.location), show_score:showScores,
                    publicProfileUrl:dict.publicProfileUrl, pictureUrl:dict.pictureUrl,
                    summary:dict.summary, emailAddress:dict.emailAddress,
                    add_skills:addSkillsJson, remove_skills:removeSkillsJson, change_skills:changeSkillsJson},
            success: function (meow) {
                alert("Success!");
                document.location.reload("true");
            },
            error: function (error) {
                alert("Failed!");
            }
        });

        removeSkills = {}
        changeSkills = {}
        addSkills = {}
    }

    // Logout LinkedIn
    function closeSession(){
        IN.User.logout();
        document.location.reload("true");
    }
</script>
{% endblock %}