{% extends "base.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="Project-Kirito: Profil Mahasiswa">
    <meta name="author" content="Kelompok 9 PPW Kelas E">
{% endblock %}
{% block title %}Project-Kirito: Profile of {{user_login}}{% endblock %}
{% block stylescript_app %}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div style="margin: -40px 20px 20px 20px">
    Name: {{mahasiswa.name}}<br>
    NPM: {{mahasiswa.npm}}<br>
    Skills: {% if mahasiswa_skills %}<ul>
        {% for skill in mahasiswa_skills %}
            <li>{{skill.skill_name}}, {% if skill.expertness == 1 %}Beginner{% elif skill.expertness == 2 %}Intermediate{% elif skill.expertness == 3 %}Advanced{% elif skill.expertness == 4 %}Expert{% else %}Legend{% endif %}</li>
        {% endfor %}</ul>{% else %}<i>Kosong</i><br>{% endif %}
    Email: {% if mahasiswa.email %}{{mahasiswa.email}}{% else %}<i>Kosong</i>{% endif %}<br>
    Location: {% if mahasiswa.location %}{{mahasiswa.location}}{% else %}<i>Kosong</i>{% endif %}<br>
    LinkedIn Profile: {% if mahasiswa.linkedin_url %}{{mahasiswa.linkedin_url}}{% else %}<i>Kosong</i>{% endif %}<br>
</div>
{% endblock %}
{% block footer %}{% endblock %}