{% extends "base.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="Project-Kirito: Halaman Status Mahasiswa">
    <meta name="author" content="Kelompok 9 PPW Kelas E">
{% endblock %}
{% block title %}Project-Kirito: {{user_login}}'s Status{% endblock %}
{% block stylescript_app %}<link rel=stylesheet href="{% static 'css/status.css' %}">
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="container" style="margin: -40px 20px 20px 20px">
    <!-- Fill Something Here -->
		<div >
			{% if login %}
			<form method="POST" id="add_status" action="add_status/">
			{% csrf_token %}
				{{ add_status_form }}
				<br>
				<div class="button_success">
					<button type="submit" class="button btn-success">Submit</button>
				</div>
			</form>
			{% endif %}
		</div>
		{% block content_page %}
			<p>
				{% for status_message in status reversed %}
					<div class="container_status">
						{% if login %}
						<form class="status_delete" action="delete_status/" method="POST" align="right">
							{% csrf_token %}
							<input type="hidden" name="status_id" value="{{ status_message.id }}" />
							<input type="submit" value="x">
						</form>
						{% endif %}
						<p>{{ status_message.status }}</p>
						<span class="name-left"> by
						{{ status_message.penulis.name }}</span>
						<span class="time-right">{{ status_message.date }}</span>
					</div>
				{% endfor %}
			</p>
		</div>
		{% endblock %}
{% endblock %}
{% block footer %}{% endblock %}